<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>820923626837-jc9idhga1dtvu5nim6goqekbmqgfvk96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820923626837-jc9idhga1dtvu5nim6goqekbmqgfvk96</string>
	<key>API_KEY</key>
	<string>AIzaSyByNASU9B0xIxzUlinkUEIjWwSJ9FCMY6I</string>
	<key>GCM_SENDER_ID</key>
	<string>820923626837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevinrogers.RawX.RawX</string>
	<key>PROJECT_ID</key>
	<string>rawx-95802</string>
	<key>STORAGE_BUCKET</key>
	<string>rawx-95802.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:820923626837:ios:15a209ff1ca08c91</string>
	<key>DATABASE_URL</key>
	<string>https://rawx-95802.firebaseio.com</string>
</dict>
</plist>